/* bg-color: #fcd132; */
/* active-red-color: #ec3b3c */
/* gray-color: #302e38 */
body {
  background-color: #fcd132;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 15px 0;
}
.ul {
  display: flex;
  justify-content: space-around;
  margin-top: unset;
  margin-bottom: unset;
}
.ul > li {
  list-style: none;
  margin-right: 30px;
}
.ul > li > a {
  color: #302e38;
  font-weight: bold;
  font-size: 13px;
}
.ul > li > a:hover {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  background-color: #302e38;
  display: flex;
  flex-direction: column;
  width: 0;
  overflow-x: hidden;
  transition: width 0.35s ease-in-out;
}
.sidebar a {
  color: #868686;
  padding: 20px;
  font-size: 1.3em;
  text-decoration: none;
  transition: 0.5s;
  white-space: nowrap;
}

.sidebar a:hover {
  color: white;
}
.btn-sidebar {
  width: max-content;
  margin: 20px;
}
.sidebar a i {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.main-pic {
  background-image: url("../images/GF0NOTK3ST.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  position: relative;
}
.rgba {
  background-color: rgba(0, 0, 0, 0.486);
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-pic h1 {
  color: white;
  font-weight: bold;
}
.proekti-holder {
  display: flex;
  flex-wrap: wrap;
}
.proekti {
  padding: 20px;
  background-color: #302e38;
  color: white;
  width: 33.3333%;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
}
.proekti i {
  font-size: 30px;
}
.active {
  background-color: #ec3b3c;
  color: #302e38;
}
.text-proekti {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
.cards-row {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.cards-holder {
  width: 30%;
  cursor: pointer;
}
.card {
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 10px;
}
.card:hover {
  transform: scale(1.1);
}
.card-img {
  height: 35vh;
}
.card-img img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 100%;
}
.card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: black;
}

.card-body button {
  justify-self: flex-end;
  align-self: flex-end;
}
.card-span {
  color: black;
  background-color: #fcd132;
  padding: 3px 10px;
  width: max-content;
}
.main-text {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-text h1 {
  font-weight: bold;
  font-size: 45px;
}
.form-holder {
  width: 60%;
  margin: 0 auto;
}
.form {
  display: flex;
  justify-content: space-between;
}
.form input {
  width: 50%;
}
input::placeholder {
  font-family: cursive;
  font-size: 12px;
}
.p-dding {
  padding: 10px 10px;
}
.footer {
  background-color: #555555;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer h5 {
  font-weight: bold;
  color: white;
}
.btn-form {
  height: 46px;
  background-color: red;
  margin: 25px 0;
}
.izberi-student {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  background-color: white;
  padding: 0 25px;
  border-radius: 6px;
}
.options {
  right: 0;
  margin: 2px 13px 0;
  border-radius: 10px;
}
.options > li  {
  font-weight: 700;
  padding: 1px 20px;
  cursor: pointer;
}
.foot-forma {
  margin-top: 30vh;
}
@media screen and (max-width: 450px) {
  .ul {
    display: none;
  }
  .button {
    display: none;
  }
  .nav {
    justify-content: unset;
  }
  .toggle {
    display: flex;
    align-items: center;
  }
  .toggle-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40px;
    align-items: flex-end;
    position: absolute;
    right: 5%;
  }

  .toggle-nav:hover {
    cursor: pointer;
  }

  .toggle-nav div {
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background-color: #555555;
    margin: 3px;
  }

  .toggle-nav div:nth-child(2) {
    width: 75%;
  }

  .toggle-nav div:nth-child(3) {
    width: 50%;
  }
  .proekti {
    width: 100%;
  }
  .cards-holder {
    width: auto;
  }
  .zzz {
    margin-top: 40vh;
  }
}
